.preload {
    background: #fff;
    position: relative;
  }

 .preload img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 }
  
.loaded {
    backface-visibility: hidden;
}
  