/*
This style with transition every route
*/
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}


.App {
    display: grid;
    grid-template-areas:
    "nav"
    "content"
}
